
<!-- <div class="context">
  <h1>{{title}}</h1>
</div>


<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
              
            </div > -->
<app-hello-world></app-hello-world>
<hr>
<app-hello-world-interpolation></app-hello-world-interpolation>
<hr>
<app-hello-world-property-binding></app-hello-world-property-binding>
<hr>
<app-hello-world-event-binding></app-hello-world-event-binding>
<hr>
<app-hello-world-ng-if></app-hello-world-ng-if>